<a href="https://colab.research.google.com/github/grt685/Hands-On-Data-Analysis-with-Pandas-2nd-edition/blob/master/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
n1=np.array([1,2,3,4])
n1

array([1, 2, 3, 4])

# New Section